html * {
  margin:0;
  padding:0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Josefin Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPrVWoAymxY_tHxas3iV0OjiOM7_1TbzDZAQ&usqp=CAU");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.logo-cont{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-cont *{
  margin: 0 6px;
}
.logo{
  background-image: url("./images/logo2.png");
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
}
header h1{
  color: white;
}
.input-cont{
  width: 300px;
  left: 100px;
  padding: 5px;
}
.input{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: left;
  width: 100%;
  height: 40px;
  position: relative;
}
.input input{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid silver;
  font-size: 18px;
}
.input label{
  position: absolute;
  left: 0;
  bottom: 20px;
  color: silver;
  font-size: 18px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.input input:focus ~label,
.input input:valid ~label{
  transform: translate(-50px);
  font-size: 16px;
  color: aqua;
}
.input input:focus,
.input input:valid{
  border-color: blue;
} 
header * {
  margin: 0px 30px
}

header a {
  color: black;
  text-decoration: none;
  padding: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}
header a:hover{
  background-color: black;
  color: white;
  transform: scale(1.1);
  border: 2px solid white;
  border-radius: 10px;
}
.imagenProducto{
  width: 100px;
  height: 100px;
  background-color: blue !important ;
}
main {
  display: flex;
  justify-content: center;
  flex: 1;
  background-color: rgba(218, 229, 238, 0.336);
}

  div#contenedorTarjetas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 80vw ;
    min-height: 75vh;
  }
  div.tarjetaProducto {
    text-transform: capitalize;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 200px;
    border: 2px solid rgb(65, 61, 56);
    border-radius: 20px;
    margin: 10px 20px;
    box-shadow: 2px 4px 15px 0 rgb(56, 52, 52);
  }
  div.tarjetaProducto:hover{
    transform: scale(1.02);
  }

  div.contenedorNombre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  h3.nombreProducto, div.contenedorPrecioYCarrito {
    font-size: 1.5em;
    color: rgb(20, 20, 15);
  }

  div.imagenProducto, div.botonCarrito {
    background-size: cover;        
    background-repeat: no-repeat;
    background-position: center center;
  }

  div.imagenProducto {
    width: 200px;
    height: 200px;
  }

  div.contenedorPrecioYCarrito {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    
  }
  div.botonCarrito {
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
    background-color: rgb(12, 12, 12);
    border: 2px solid rgb(244, 236, 236);
    border-radius: 10px;
  }
  div.cantidad i:hover{
    transform: scale(.9);
    cursor: pointer;
    background-color: rgb(253, 11, 11);
    color: white;
    transform: scale(1.1);
    border: 2px solid white;
    border-radius: 10px;
  }
  #tabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blue;
    width: 80%;
    min-height: 300px;
  }
  tr{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  th, td{
    width: 100px;
    background-color: brown;
    margin: 5px;
  }
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(172, 174, 180);
  width: 100%;
  min-height: 50px;
  color: white;
}